.list-menu--right {
  right: 0;
}

.list-menu--disclosure {
  position: absolute;
  min-width: 100%;
  width: 20rem;
  border: 1px solid rgba(var(--color-foreground), 0.2);
}

.list-menu--disclosure:focus {
  outline: none;
}

.list-menu__item--active {
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}

.list-menu__item--active:hover {
  text-decoration-thickness: 0.2rem;
}

.list-menu--disclosure.localization-selector {
  max-height: 18rem;
  overflow: auto;
  width: 10rem;
  padding: 0.5rem;
}

.header--top-center .list-menu--inline > li {
  position: relative;
  display: flex;
  align-items: center;
}

.header--top-center .list-menu--inline > li:not(:last-child)::after {
  content: "•";
  color: #7b2933;
  margin: 0 0.8rem;
  font-size: 1.2rem;
}

.header--top-center .list-menu--inline .header__menu-item {
  text-transform: uppercase;
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
  font-family: var(--font-body-family);
  font-weight: 500;
  color: #333333;
}

/* Force left search icon to show on desktop */
@media screen and (min-width: 990px) {
  .header--top-center .header__left-icons > .header__search {
    display: inline-flex !important;
  }
}
